.homepage {
    height: 100vh;
    width: 100vw;

    .header-section {
        height: 10vh;
        width: 100%;
    }

    .main-content-and-nav-div {
        display: flex;
        height: 90vh;
        width: 100%;

        .side-nav {
            height: 100%;
            width: 18.5%;
            min-width: 250px;
        }

        .main-content {
            // overflow-wrap: break-word;
            // word-wrap: break-word;
            // overflow-y: hidden;
            overflow-y: hidden;
            height: 90vh;  // Redundant code. Find out why
            // min-width: 81.5%;
            min-width: 75.5%;
            background-color: #fafafa;
            padding: 0.5rem;

            &:hover {
                
                overflow-y: scroll;
                
                // width
                &::-webkit-scrollbar {
                    width: 5px;
                }
            
                // track
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0  0 5px grey;
                    border-radius: 3px;
                }
            
                // handle
                &::-webkit-scrollbar-thumb  {
                    background: #606770;
                    border-radius: 3px;
                }
            }
        }
    }
}